{% include "header.html" %}


<br>
<marquee behavior="Alternate" direction="left">
  <h1 style="color: rgb(89, 175, 89);"><strong>Finish your Task fast.</strong></h1>
</marquee>
<br><br><br>
    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <!-- ! Todo List -->

          <h1>Add New Tasks</h1>
    <form class="container mb-1" method="POST" action="/">
      {% csrf_token %} 
      {{form}}
      <br>
      <input class="btn btn-outline-success" type="submit" value="Add">
    </form>

    <table class="container table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">SN</th>
          <th scope="col">Task</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>

      <tbody>
        {% for todo in todos %}        
        <tr>
          <th scope="row">{{forloop.counter }}</th>
          <td>
            {% if todo.is_completed %}
            <strike><a class="black" href="{% url 'details' todo.id %}">{{ todo|upper }}</a></strike>
            {% else %}<a class="black" href="{% url 'details' todo.id %}">{{ todo|upper }}</a>{% endif %}
          </td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-success">
                <a href="{% url 'finish' todo.id %}">Completed</a>
              </button>
              <button type="button" class="btn btn-warning">
                <a href="{% url 'update' todo.pk %}">Update</a>
              </button>
              <button type="button" class="btn btn-danger">
                <a href="{% url 'delete' todo.id %}">DELETE</a>
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        </div>
        <div class="col">
          <!-- ! Completed -->
          <h1>Completed Tasks</h1>
          <img class="completed" src="/static/img/completed.png">      
    <table class="container table table-success table-striped">
      <thead>
        <tr>
          <th scope="col">SN</th>
          <th scope="col">Task</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
        {% if todo.is_completed %}
        <tr>
          <th scope="row">
            {{forloop.counter }}</th>
          <td>
            <a class="black" href="{% url 'details' todo.id %}">{{ todo|upper }}</a>
          </td>
          <td>
            <div class="btn-group"
              role="group"
              aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-success"><a href="{% url 'finish' todo.id %}">Completed</a></button><button type="button" class="btn btn-warning"><a href="{% url 'update' todo.pk %}">Update</a></button>
              <button type="button" class="btn btn-danger">
                <a href="{% url 'delete' todo.id %}">DELETE</a>
              </button>
            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
        </div>
        
      </div>
    </div>

    

    <!-- {% for todo in todos %}
<li>
    {% if todo.is_completed %}
        <strike>{{todo}}</strike>
    {% else %}
        {{todo}}
    {% endif %}
    <a href="{% url 'finish' todo.id %}">Completed</a>
    <a href="{% url 'update' todo.pk %}">Update</a>
    <a href="{% url 'delete' todo.id %}">DELETE</a>  
</li>
{% endfor %} -->


<!-- <form method="GET" action="/search">
    {% csrf_token %}
    <input
      type="search"
      placeholder="Search"
      name="query"
      id="query"
      aria-label="Search"
    />
    <button type="search">Search</button>
  </form> -->


  </body>
</html>
