 {% include "header.html" %}
 <h1 class="container">Search Results:</h1>
  <table class="container table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">SN</th>
            <th scope="col">Task</th>
            <th scope="col">Status</th>
            <th scope="col">Date created</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in todos %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a class="black" href="{% url 'details' todo.id %}">{{ todo|upper }}</a></td>
            <td>
              {% if todo.is_completed %}
              <img height="35px" src="/static/img/tick.png">
              {% else %}
              <img height="35px" src="/static/img/pngegg.png">
              {% endif %}
            </td>
            <td>{{todo.created_at}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success"><a href="{% url 'finish' todo.id %}">Completed</a></button>
                    <button type="button" class="btn btn-warning"><a href="{% url 'update' todo.pk %}">Update</a></button>
                    <button type="button" class="btn btn-danger"><a href="{% url 'delete' todo.id %}">DELETE</a></button>
                  </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</body>
</html>