{% include "header.html" %}
<div class="card mt-5 pe-4" style="width: 20rem;">
        <form method="POST">
        {% csrf_token %}
<br>
    <h5 class="card-title">Edit title</h5>
    <br><br>

        {{form}}
        <br><br><br>
        <div class="card-body">
            <button class="btn btn-outline-success" type="submit">Update</button>
        </form>
        <br>
        <br>
        <a href="/"><button class="btn btn-outline-danger">Cancel</button></a>
        </div>
      </div>


      <!-- <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">Update</button>
    </form> -->
</body>
</html>